<header class="header">
    <nav class="navbar fixed-top navbar-dark bg-black">
        <div class="container">
            <a class="navbar-brand">
                <img src="../../../assets/LogoArgPro.png" width="170" height="100" alt="logoArgPro">
            </a>
            <a class="navbar-brand" href="https://tatianacuoco.tumblr.com/"><img src="../../../assets/tumblr.png" width="130" height="130" alt="tumblr"></a>
            <form class="form-inline">
                <button class="btn btn-outline-light" (click)="goToPage('login')"> LOGIN </button>
            </form>
        </div>
    </nav>            
</header>

