<div class="row">
        <circle-progress
        [percent]="75"
        [title]="'nerd'"
        [imageSrc]="'../assets/imgXmple.jpg'"
        [showImage]="true"
        [backgroundColor]="'#8159a4'"
        [backgroundOpacity]="0.7"
        [backgroundStrokeWidth]="0"
        [backgroundPadding]="5"
        [radius]="60"
        [space]="-8"
        [maxPercent]="100"
        [units]="'Point'"
        [unitsColor]="'#50bbef'"
        [outerStrokeWidth]="4"
        [outerStrokeColor]="'#50bbef'"
        [outerStrokeLinecap]="'butt'"
        [innerStrokeColor]="'#FFFFFF'"
        [innerStrokeWidth]="0"
        [titleColor]="'#50bbef'"
        [titleFontSize]="'26'"
        [titleFontWeight]="'500'"
        [subtitleColor]="'#56f8ab'"
        [imageHeight]="61"
        [imageWidth]="61"
        [animationDuration]="400"
        [showSubtitle]="false"
        [showUnits]="false"
        [showInnerStroke]="false"
        ></circle-progress>
</div>