<div class="row">
    <h1>Docencia / Talleres / Conferencias</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>anio</h3> <h2>empleo</h2> 
                <p>descripcion</p>
            </li>
            <li>
                <h3>(years)</h3> <h2>X 2</h2> 
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam culpa aliquid eaque quae. Minima corporis reiciendis velit laborum. Dolore laudantium iste nihil magni itaque nesciunt iure laborum saepe porro id?</p>
            </li>
            <li>
                <h3>(years)</h3> <h2>X 3</h2> 
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam culpa aliquid eaque quae. Minima corporis reiciendis velit laborum. Dolore laudantium iste nihil magni itaque nesciunt iure laborum saepe porro id?</p>
            </li>
        </ul>
    </div>
</div>
