<div id="trabajos">
    <div class="row fw-bold" style="text-align:center">
        <h1>‧̥̥͙⊹trabajos⊹‧̥̥͙</h1>
        <div class="col" style="text-align:center">
            <button type="button" class="btn btn-outline btn-sm" (click)="openFormModalNewT()" *ngIf="isLogged" style="margin-bottom:6vh">
                AÑADIR
            </button><br>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3 d-flex" *ngFor="let Trabajo of tra">
                <div class="card text-center bg-dark text-white h-80" id="card">
                    <div class="card-header">
                        . {{Trabajo.fechaIT}} - {{Trabajo.fechaFT}} .
                    </div>
                    <img class="card-img-top img-fluid rounded float-center mx-auto" src="{{Trabajo.imgT}}"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{Trabajo.nombreT}}</h5>
                        <p class="card-text" text-justify="center"> {{Trabajo.descripcionT}} </p>
                    </div>
                    <div class="card-footer" *ngIf="isLogged">
                        <button class="btn btn-dark tooltips" routerLink="/edittra/{{Trabajo.id}}">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                        <button class="btn btn-dark tooltips" (click)="delete(Trabajo.id)">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--form modal new-->
<div class="modal fade" id="newModalT" tabindex="-1" aria-labelledby="newModalT" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newModalT">AGREGAR TRABAJO</h5>
                <button type="button" class="btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                        <div class="form-group">
                            <label for="nombreT">
                                <h2>título</h2>
                            </label>
                            <input type="text" class="form-control" id="nombreE" name="nombreT" [(ngModel)]="nombreT"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="fechaIT">
                                <h2>año inicio</h2>
                            </label>
                            <input type="number" class="form-control" id="fechaIT" name="fechaIT" [(ngModel)]="fechaIT">
                        </div>
                        <div class="form-group">
                            <label for="fechaFT">
                                <h2>año finalización</h2>
                            </label>
                            <input type="number" class="form-control" id="fechaFT" name="fechaFT" [(ngModel)]="fechaFT">
                        </div>
                        <div class="form-group">
                            <label for="descripcionT">
                                <h2>descripción</h2>
                            </label>
                            <input type="text" class="form-control" id="descripcionT" name="descripcionT"
                                [(ngModel)]="descripcionT" required>
                        </div>
                        <div class="form-group">
                            <label for="imgT">
                                <h2>URL imagen</h2>
                            </label>
                            <input type="text" class="form-control" id="imgT" name="imgT" [(ngModel)]="imgT">
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline btn-sm" style="margin-top: 5vh;" (click)="onCreate()"
                    (click)="reloadCurrentPage()">
                    AGREGAR
                </button>
                <button type="button" class="btn btn-outline btn-sm" style="margin-top: 5vh;"
                    data-bs-dismiss="modal">
                    CERRAR
                </button>
            </div>
        </div>
    </div>
</div>






















<!--
<div id="trabajos">
    <div class="row fw-bold" style="text-align:center">
        <h1>‧̥̥͙⊹trabajos⊹‧̥̥͙</h1>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-6">
            <div class="card text-center bg-dark text-white display-flex p-2" *ngFor="let trabajo of trabajos"
                id="card">
                <div class="card-header">
                    . {{trabajo.fechaITra}} - {{trabajo.fechaFTra}} .
                </div>
                <img class="card-img-top w-50 img-fluid rounded float-center mx-auto" src="{{trabajo.imgTra}}"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{trabajo.tituloTra}}</h5>
                    <p class="card-text" text-justify="center"> {{trabajo.descTra}} </p>
                    <a class="btn btn-dark tooltips" data-placement="top" data-toogle="tooltip"
                        data-original-title="Edit"><i class="fa-solid fa-pencil"></i></a>
                    <a class="btn btn-dark tooltips" data-placement="top" data-toogle="tooltip"
                        data-original-title="Delete"><i class="fa-solid fa-trash-can"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
-->