<!-- <div class="row">
    <h1>Experiencia laboral</h1>
    <div class="row" id="item">
        <div class="text-center col-lg-1">
            <img src="../../../assets/imgXmple.jpg" id="imgXmple">
        </div>
        <div class="col-lg-10">
            <ul>
                    <h3>(years)</h3> <h2>Trabajo 1</h2> 
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam culpa aliquid eaque quae. Minima corporis reiciendis velit laborum. Dolore laudantium iste nihil magni itaque nesciunt iure laborum saepe porro id?</p>
                
            </ul>
        </div>
    </div>    
</div> -->

<div class="row" style="text-align: right;">
    <h1>Trabajos realizados</h1>    
</div>
<div class="row" *ngFor="let trabajo of trabajos">
    <div class="col-sm-3 mx-auto p-3">
        <div class="card text-center bg-dark text-white m-10" style="width:80%;" >
            <img class="card-img-top" src="{{trabajo.imgTra}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{trabajo.tituloTra}}</h5>
              <p class="card-text" text-justify="center">. {{trabajo.fechaITra}} . {{trabajo.fechaFTra}} . <br><br> {{trabajo.descTra}} </p>
              <a 
                class="btn btn-dark tooltips"
                data-placement="top"
                data-toogle="tooltip"
                data-original-title="Edit"
                ><i class="fa-solid fa-pencil"></i></a>
              <a 
                class="btn btn-dark tooltips"
                data-placement="top"
                data-toogle="tooltip"
                data-original-title="Delete"
                ><i class="fa-solid fa-trash-can"></i></a>  
            </div>
        </div>
    </div>

</div>






<!--

<div class="row" style="text-align: right;">
    <h1>Trabajos realizados</h1>    
</div>
<div class="row" style="align-content: center;">
    <div class="col-sm-3 mx-auto p-3" text-align="center">
        <div class="card text-center bg-dark text-white m-10" style="width:80%;" >
            <img class="card-img-top" src="../../../assets/imgXmple.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nombre proyecto</h5>
              <p class="card-text" text-justify="center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum ratione voluptatem recusandae sed ipsum aspernatur reiciendis sunt doloribus. Facilis esse illum doloremque debitis minima quae nostrum accusantium, doloribus nulla accusamus!</p>
              <a href="#" class="btn btn-light">Video</a>
            </div>
        </div>
    </div><div class="col-sm-3 mx-auto p-3" text-align="center">
        <div class="card text-center bg-dark text-white m-10" style="width:80%;" >
            <img class="card-img-top" src="../../../assets/imgXmple.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nombre proyecto</h5>
              <p class="card-text" text-justify="center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum ratione voluptatem recusandae sed ipsum aspernatur reiciendis sunt doloribus. Facilis esse illum doloremque debitis minima quae nostrum accusantium, doloribus nulla accusamus!</p>
              <a href="#" class="btn btn-light">Video</a>
            </div>
        </div>
    </div><div class="col-sm-3 mx-auto p-3" text-align="center">
        <div class="card text-center bg-dark text-white m-10" style="width:80%;" >
            <img class="card-img-top" src="../../../assets/imgXmple.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nombre proyecto</h5>
              <p class="card-text" text-justify="center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum ratione voluptatem recusandae sed ipsum aspernatur reiciendis sunt doloribus. Facilis esse illum doloremque debitis minima quae nostrum accusantium, doloribus nulla accusamus!</p>
              <a href="#" class="btn btn-light">Video</a>
            </div>
        </div>
    </div><div class="col-sm-3 mx-auto p-3" text-align="center">
        <div class="card text-center bg-dark text-white m-10" style="width:80%;" >
            <img class="card-img-top" src="../../../assets/imgXmple.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nombre proyecto</h5>
              <p class="card-text" text-justify="center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum ratione voluptatem recusandae sed ipsum aspernatur reiciendis sunt doloribus. Facilis esse illum doloremque debitis minima quae nostrum accusantium, doloribus nulla accusamus!</p>
              <a href="#" class="btn btn-light">Video</a>
            </div>
        </div>
    
   
</div> 


    <div class="col3">
        <img src="{{trabajo.imgTra}}" alt="" width="50">        
    </div>
    <div class="col text center">
        <a 
            class="btn btn-info tooltips"
            data-placement="top"
            data-toogle="tooltip"
            data-original-title="Edit"
        ><i class="fa-solid fa-pencil"></i></a>
        <a 
            class="btn btn-dark tooltips"
            data-placement="top"
            data-toogle="tooltip"
            data-original-title="Delete"
        ><i class="fa-solid fa-trash-can"></i></a>  
    </div>
    <div class="col6">
        <h2>{{trabajo.tituloTra}}</h2>
    </div>
    <div class="col9">
        <h4>{{trabajo.fechaITra}} - {{trabajo.fechaFTra}}</h4>
    </div>
    <div class="col12">
        <p>{{trabajo.descTra}}</p>
    </div>-->