<div class="container" style="margin-top: 10vh;">
    <div class="row" *ngIf="perfil">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre"><h2>nombre</h2></label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="perfil.nombre" required>
                </div>
                <div class="form-group">
                    <label for="apodo"><h2>apodo</h2></label>
                    <input type="text" class="form-control" id="apodo" name="apodo" [(ngModel)]="perfil.apodo">
                </div>
                <div class="form-group">
                    <label for="imgPerfil"><h2>URL imagen</h2></label>
                    <input type="text" class="form-control" id="imgPerfil" name="imgPerfil" [(ngModel)]="perfil.imgPerfil">
                </div>
                <div class="form-group">
                    <label for="banner"><h2>URL imagen</h2></label>
                    <input type="text" class="form-control" id="banner" name="banner" [(ngModel)]="perfil.banner">
                </div>
                <div class="form-group">
                    <label for="titulo"><h2>título</h2></label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="perfil.titulo">
                </div>
                <div class="form-group">
                    <label for="descripcion"><h2>descripción</h2></label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="perfil.descripcion" required>
                </div>
                <button class="btn btn-outline btn-sm" style="margin-top: 5vh;">
                    ACTUALIZAR
                </button>      
            </form>
        </div>
    </div>
