   <!-- 
       <div class="container">
    <div id="fotoPerfil">
        <img src="../../../assets/ttcc.jpg" 
        class="img-fluid">
    </div>
    <div id="nombreTitulos">
        <h2>. t t c c .</h2>
        <p>Tatiana Cuoco</p>
</div> -->

<div class="row" id="banner">
    <img src={{perfil.banner}} class="img-fluid" 
    alt="Responsive image" id="banner">
</div> 
<div class="row" id="perfil">
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
        <div class="container" style="text-align:center">
            <div id="fotoPerfil">
                <img src={{perfil.imgPerfil}} class="img-fluid rounded float-center"
                alt="Responsive image" id="ttcc">
            </div>
            <div id="nombreTitulos">
                <h2>{{perfil.apodo}}</h2>
                <p>{{perfil.nombre}}</p>
            </div>        
        </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
        <div id="descripcionPersonal">
            <h4>{{perfil.titulo}}</h4>
            <p>{{perfil.descripcion}}</p>
        </div>
    </div>
</div>




    