#banner {
  max-height: 50vh;
  margin-top: 3vh;
  background-size: cover;
  box-sizing: content-box;
}

.bg {
  background-color: black;
  background-size: cover;
  box-sizing: content-box;
}

@media (min-width: 1200px) {
  #perfil {
    position: relative;
    padding-left: 15vw;
  }
}

#ttcc {
  position: relative;
  bottom: 5vh;
}

#nombreTitulos {
  position: relative;
  bottom: 10vh;
}

#descripcionPersonal {
    position: relative;
    top: 5vh;
}

h2 {
  color: rgb(130, 186, 194);
  font-weight: bold;
}

h3 {
  color: rgb(123, 107, 163);
  font-weight: bold;
}

h5 { 
    color: #f8f9fa;
}

p {
  color: #f8f9fa;
}
