@media (max-width: 575px){
    #fotoPerfil {
    padding: 10px;
    width: 50%;
    display: block;
    margin: auto;
    position: relative;
    bottom: 125px;
    }
    #nombreTitulos {
        text-align: center;
        position: relative;
        bottom: 175px;
    }
} 

@media (min-width: 576px) and (max-width: 767px){
    #fotoPerfil {
        padding: 30px;
        height: 40%;
        position: relative;
        bottom: 110px;
        left: 30px;
    }
    #nombreTitulos {
        text-align: center;
        position: relative;
        bottom: 55px;
        left: 30px;
    }

}

@media (min-width: 768px) and (max-width:1200px) {
    #fotoPerfil {
        padding: 30px;
        width: 100%;
        position: relative;
        bottom: 110px;
        left: 30px;
    }
    #nombreTitulos {
        text-align: center;
        position: relative;
        bottom: 185px;
        left: 30px;
    }

}

@media (min-width: 1200px) {
    #fotoPerfil {
        padding: 30px;
        width: 100%;
        position: relative;
        bottom: 110px;
        left: 30px;
    }
    #nombreTitulos {
        text-align: center;
        position: relative;
        bottom: 185px;
        left: 30px;
    }

}


h2 {
    color: rgb(0, 174, 255);
    font-weight: bold;
}

p {
    color: white;
    padding: 5px;
}