<!-- <div class="contenedor">
    <div>
        <img src="../../../assets/imgXmple.jpg" class="img-fluid img-proyecto">
    </div>
    <div>
        <h3>Nombre proyecto</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid aspernatur iusto est fugit aut quis necessitatibus, a accusamus ducimus voluptatum rerum veritatis dignissimos explicabo optio? Soluta commodi ullam iste odit?</p>
    </div>
</div> 

<div class="card text-center bg-dark text-white m-10" style="width: 30rem;" >
    <img class="card-img-top" src="../../../assets/imgXmple.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nombre proyecto</h5>
      <p class="card-text" text-justify="center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum ratione voluptatem recusandae sed ipsum aspernatur reiciendis sunt doloribus. Facilis esse illum doloremque debitis minima quae nostrum accusantium, doloribus nulla accusamus!</p>
      <a href="#" class="btn btn-light">Video</a>
    </div>
</div> -->