<div class="container" style="margin-top: 10vh;">
    <div class="row" *ngIf="forma">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreF"><h2>título</h2></label>
                    <input type="text" class="form-control" id="nombreF" name="nombreF" [(ngModel)]="forma.nombreF" required>
                </div>
                <div class="form-group">
                    <label for="fechaIF"><h2>fecha inicio</h2></label>
                    <input type="number" class="form-control" id="fechaIF" name="fechaIF" [(ngModel)]="forma.fechaIF">
                </div>
                <div class="form-group">
                    <label for="fechaFF"><h2>fecha finalización</h2></label>
                    <input type="number" class="form-control" id="fechaFF" name="fechaFF" [(ngModel)]="forma.fechaFF">
                </div>
                <div class="form-group">
                    <label for="descripcionF"><h2>descripción</h2></label>
                    <input type="text" class="form-control" id="descripcionF" name="descripcionF" [(ngModel)]="forma.descripcionF" required>
                </div>
                <div class="form-group">
                    <label for="imgF"><h2>URL imagen</h2></label>
                    <input type="text" class="form-control" id="imgF" name="imgF" [(ngModel)]="forma.imgF">
                </div>
                <button class="btn btn-outline-info btn-sm" style="margin-top: 5vh;">
                    ACTUALIZAR
                </button>      
            </form>
        </div>
    </div>
</div>
