<div class="row"> 
    <h1>Formación / Investigación / Residencias</h1>
</div>

<div class="row" *ngFor="let formacion of formaciones">
    <div class="col-lg-1">
        <img src="{{formacion.imgForm}}" alt="" width="50">
    </div>
    <div class="col text center">
        <a 
            class="btn btn-info tooltips"
            data-placement="top"
            data-toogle="tooltip"
            data-original-title="Edit"
        ><i class="fa-solid fa-pencil"></i></a>
        <a 
            class="btn btn-info tooltips"
            data-placement="top"
            data-toogle="tooltip"
            data-original-title="Delete"
        ><i class="fa-solid fa-trash-can"></i></a>  
    </div>
    <div class="col-lg-11">
        <div class="col6">
            <h2>{{formacion.tituloForm}}</h2>
        </div>
        <div class="col9">
            <h4>{{formacion.fechaIForm}} - {{formacion.fechaFForm}}</h4>
        </div>
        <div class="col12">
            <p>{{formacion.descForm}}</p>
        </div>
    </div>
</div>

