
    <div id="descripcionPersonal">
        <h4>Diseñadorx Audiovisual ++ Full Stack Developer Jr</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Soluta, quidem voluptatem, alias atque incidunt distinctio 
            ab repellat id esse ad enim assumenda odit maiores quaerat 
            error repudiandae perferendis sapiente temporibus.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Soluta, quidem voluptatem, alias atque incidunt distinctio 
            ab repellat id esse ad enim assumenda odit maiores quaerat 
            error repudiandae perferendis sapiente temporibus.</p>
    </div>


