@media (max-width: 575px){
    #descripcionPersonal {
        padding: 5%;
        position: relative;
        bottom: 180px;

    }
} 

@media (min-width: 576px){
    #descripcionPersonal {
        padding: 5%;
    }

}

h4 { 
    color: rgb(250, 0, 146);
}

p {
    color: white;
}

