.row {
    background-color: black;
}

footer{
    
    color:rgb(130, 186, 194);
    font-size: 22px;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: 7%;
    padding-right: 5%;

}