
<div class="row" style="text-align: right;">
    <h1>Proyectos realizados</h1>    
</div>

<div class="row" *ngFor="let proyectos of proyectos" >
    <div class="col-sm-3 mx-auto p-3" text-align="center">
        <div class="card text-center bg-dark text-white m-10" style="width:80%;" >
            <img class="card-img-top" src="{{proyectos.imgProy}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{proyectos.tituloProy}}</h5>
              <p class="card-text" text-justify="center">{{proyectos.fechaProy}} <br><br> {{proyectos.descProy}}</p>
              <a href="{{proyectos.linkProy}}" class="btn btn-light">Video</a>
              <br><br>
              <a 
                class="btn btn-dark tooltips"
                data-placement="top"
                data-toogle="tooltip"
                data-original-title="Edit"
                ><i class="fa-solid fa-pencil"></i></a>
              <a 
                class="btn btn-dark tooltips"
                data-placement="top"
                data-toogle="tooltip"
                data-original-title="Delete"
                ><i class="fa-solid fa-trash-can"></i></a>  
            </div>
        </div>
    </div>
</div>


<!--
    <div class="col-sm-12 col-md-5 col-lg-3">
        <app-proyecto></app-proyecto>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-3 offset-md-1 offset-lg-1">
        <app-proyecto></app-proyecto>
    </div> 
    <div class="col-sm-12 col-md-5 col-lg-3 offset-md-1 offset-lg-1">
        <app-proyecto></app-proyecto>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-3 offset-md-1 offset-lg-1">
        <app-proyecto></app-proyecto>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-3 offset-md-1 offset-lg-1">
        <app-proyecto></app-proyecto>
    </div>
-->