
<div class="row">
    <h1>Proyectos realizados</h1>    
</div>
<div class="row">
    <div class="col-sm-3 mx-auto p-3" text-align="center">
        <div class="card text-center bg-dark text-white m-10" style="width:80%;" >
            <img class="card-img-top" src="../../../assets/imgXmple.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nombre proyecto</h5>
              <p class="card-text" text-justify="center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum ratione voluptatem recusandae sed ipsum aspernatur reiciendis sunt doloribus. Facilis esse illum doloremque debitis minima quae nostrum accusantium, doloribus nulla accusamus!</p>
              <a href="#" class="btn btn-light">Video</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mx-auto p-3" text-align="center">
        <div class="card text-center bg-dark text-white m-10" style="width:80%;" >
            <img class="card-img-top" src="../../../assets/imgXmple.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nombre proyecto</h5>
              <p class="card-text" text-justify="center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum ratione voluptatem recusandae sed ipsum aspernatur reiciendis sunt doloribus. Facilis esse illum doloremque debitis minima quae nostrum accusantium, doloribus nulla accusamus!</p>
              <a href="#" class="btn btn-light">Video</a>
            </div>
        </div>
    </div><div class="col-sm-3 mx-auto p-3" text-align="center">
        <div class="card text-center bg-dark text-white m-10" style="width:80%;" >
            <img class="card-img-top" src="../../../assets/imgXmple.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nombre proyecto</h5>
              <p class="card-text" text-justify="center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum ratione voluptatem recusandae sed ipsum aspernatur reiciendis sunt doloribus. Facilis esse illum doloremque debitis minima quae nostrum accusantium, doloribus nulla accusamus!</p>
              <a href="#" class="btn btn-light">Video</a>
            </div>
        </div>
    </div><div class="col-sm-3 mx-auto p-3" text-align="center">
        <div class="card text-center bg-dark text-white m-10" style="width:80%;" >
            <img class="card-img-top" src="../../../assets/imgXmple.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nombre proyecto</h5>
              <p class="card-text" text-justify="center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum ratione voluptatem recusandae sed ipsum aspernatur reiciendis sunt doloribus. Facilis esse illum doloremque debitis minima quae nostrum accusantium, doloribus nulla accusamus!</p>
              <a href="#" class="btn btn-light">Video</a>
            </div>
        </div>
    </div><div class="col-sm-3 mx-auto p-3" text-align="center">
        <div class="card text-center bg-dark text-white m-10" style="width:80%;" >
            <img class="card-img-top" src="../../../assets/imgXmple.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nombre proyecto</h5>
              <p class="card-text" text-justify="center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum ratione voluptatem recusandae sed ipsum aspernatur reiciendis sunt doloribus. Facilis esse illum doloremque debitis minima quae nostrum accusantium, doloribus nulla accusamus!</p>
              <a href="#" class="btn btn-light">Video</a>
            </div>
        </div>
    
   
</div>


<!--
    <div class="col-sm-12 col-md-5 col-lg-3">
        <app-proyecto></app-proyecto>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-3 offset-md-1 offset-lg-1">
        <app-proyecto></app-proyecto>
    </div> 
    <div class="col-sm-12 col-md-5 col-lg-3 offset-md-1 offset-lg-1">
        <app-proyecto></app-proyecto>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-3 offset-md-1 offset-lg-1">
        <app-proyecto></app-proyecto>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-3 offset-md-1 offset-lg-1">
        <app-proyecto></app-proyecto>
    </div>
-->