<div class="row" id="item">
    <div class="text-center col-lg-1">
        <img src="../../../assets/imgXmple.jpg" id="imgXmple">
    </div>
    <div class="col-lg-10">
        <ul>
                <h3>(years)</h3> <h2>Trabajo 1</h2> 
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam culpa aliquid eaque quae. Minima corporis reiciendis velit laborum. Dolore laudantium iste nihil magni itaque nesciunt iure laborum saepe porro id?</p>
            
        </ul>
    </div>
</div>
